/*basic as possible so that it would be easier to integrate once we know which files go with what*/
 
@font-face {
 font-family: "HelvNeue";
 src: url("fonts/Helvneuem.ttf");
 src: url("fonts/helveneunem.woff") format("woff");
}

@font-face {
 font-family: "Clarendon";
 src: url("fonts/ClarendonR.ttf");
 src: url("fonts/clarendonm.woff" format("woff");
}

body {
     background-color: #FFFFFF;
     font-family: "Trebuchet MS", 'Clarendon', sans-serif;
 }

p.sansserif {
    font-family: "Trebuchet MS", 'Clarendon', sans-serif;
}

h1.sansserif {
    font-family: "Trebuchet MS", 'HelvNeue', sans-serif;
}

h3.sansserif {
    font-family: "Trebuchet MS", 'HelvNeue', sans-serif;
}
 
h1 {
     font-family: "Trebuchet MS", 'HelvNeue', sans-serif;
     color: #000000;
 }
 
 p {
     font-family: "Trebuchet MS", 'Clarendon', sans-serif;
     color: #000000;
 }
 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #075290;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

table, th, td {
  border: 1px solid black;

}

 .button {
     background-color: #1E90FF;
     color: #FFFFFF;
     text-align: center;
     display: inline-block;
     font-family: "Trebuchet MS", 'Clarendon', sans-serif;
 } 
