/*basic as possible so that it would be easier to integrate once we know which files go with what*/

@font-face {
 font-family: HelvNeue;
 src: url(fonts/Helvneuem.ttf);
 src: url(fonts/helveneunem.woff) format(woff);
}

button {
  margin-top: 10px;
  padding: 8px 14px !important;
  background-color: #075290 !important;
  color: white;
  font-family: "Trebuchet MS", 'Clarendon', sans-serif;
  font-size: 0.9em;
}

button:hover {
  margin-top: 10px;
  padding: 8px 14px !important;
  background-color: #0b69b7 !important;
  color: white;
  font-family: "Trebuchet MS", 'Clarendon', sans-serif;
  font-size: 0.9em;
}

@font-face {
 font-family: Clarendon;
 src: url(fonts/ClarendonR.ttf);
 src: url(fonts/clarendonm.woff) format(woff);
}

.accordion {
    background-color: #075290;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
}

body {
   background-color: #FFFFFF;
   font-family: "Trebuchet MS", 'Clarendon', sans-serif;
   text-align: left;
 }

h2 {
   text-align: left;
 }

p.sansserif {
    font-family: "Trebuchet MS", 'Clarendon', sans-serif;
}

h1.sansserif {
    font-family: "Trebuchet MS", 'HelvNeue', sans-serif;
    padding-left: 2cm;
}

h3.sansserif {
    font-family: "Trebuchet MS", 'HelvNeue', sans-serif;
    padding-left: 2cm;
}

h1 {
   font-family: "Trebuchet MS", 'HelvNeue', sans-serif;
   color: #000000;
 }

 p {
   font-family: "Trebuchet MS", 'Clarendon', sans-serif;
   color: #000000;
   padding-left: 2cm;
 }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #075290;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #111;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
  border: 1px;
}

th, td {
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {background-color: #f2f2f2;}

form {
  padding-left: 2cm;
}

 .button {
     background-color: #075290;
     color: #FFFFFF;
     text-align: center;
     display: inline-block;
     font-family: "Trebuchet MS", 'Clarendon', sans-serif;
     padding-left: 2cm;
 }
